.lotusDialogBorder, .dijitDialog {
	min-width: 400px;
	max-width: 600px;
	border: 1px solid #999;
	-moz-box-shadow: 0 3px 7px #999;
	-webkit-box-shadow: 0 3px 7px #999;
	box-shadow: 0 3px 7px #999;
}

.lotusDialogBorder, .dijitDialog {
	border: 1px solid #999;
	box-shadow: 0 3px 7px #999;
	-moz-box-shadow: 0 3px 7px #999;
	-webkit-box-shadow: 0 3px 7px #999;
	box-shadow: 0 3px 7px #999;
}

.lotusDialog, .dijitDialog {
	opacity: 1;
	height: auto;
	background-color: #fff;
}

.lotusDialog h1, .dijitDialog .dijitDialogTitleBar {
	font-weight: bold;
	padding: 12px 12px 12px 20px;
	background-color: #fafafa;
	background-image: none;
	background-image: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#f0f0f0) );
	background-position: left top;
	border-bottom: 1px solid #ccc;
	color: black;
	position: relative;
}

.lotusClose img, .dijitDialogCloseIcon {
	/*background-image: url("/oneuiv2.1/images/lotusSprite-8bit.png");
	background-position: 2px -2678px;
	opacity: 0.40;
	filter: alpha(opacity = 40);*/
	
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebebeb));
	color: #000 !important;
	border: 1px solid #aaa;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px 10px;
	text-align: center;
}
.dijitDialogCloseIcon .closeText {
	display: inline;
	position: static;
	text-transform: capitalize;
}

.lotusForm, .dijitDialog form {
	margin: 0;
	padding: 1em;
	zoom: 1;
	background-color: #fafafa;
	color: black;
}
.dijitDialog label { color: black }
.dijitDialog .form-horizontal .control-label {
	width: 100px;
}
.dijitDialog .form-horizontal .controls {
	margin-left: 120px;
}